@charset "utf-8";
.provinceCityAll .tabs li a.current, .provinceCity .tabs li a.current:visited {
    background: #009BD2;
}
.provinceCityAll .tabs {
    border-bottom: 2px solid #009BD2;
}
.provinceCityAll .countyAll .next a.can, .provinceCityAll .countyAll .next a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -29px center no-repeat;
}
.provinceCityAll .provinceAll .next a.can, .provinceCityAll .provinceAll .next a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -29px center no-repeat;
}
.provinceCityAll .cityAll .next a.can, .provinceCityAll .cityAll .next a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -29px center no-repeat;
}
.provinceCityAll .cityAll .pre a.can, .provinceCityAll .cityAll .pre a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -87px center no-repeat;
}
.provinceCityAll .countyAll .pre a.can, .provinceCityAll .countyAll .pre a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -87px center no-repeat;
}
.provinceCityAll .provinceAll .pre a.can, .provinceCityAll .provinceAll .pre a.can:visited {
    background: url(../images/blue/bg_mc_0113_4.png) -87px center no-repeat;
}
.city_input {
    background: url(../images/blue/ts-indexcity.png) no-repeat 58px 5px;
}
.provinceCityAll .hotCityAll li a input.current, .provinceCityAll .hotCityAll li a input.current:visited,
.provinceCityAll .provinceAll .list li a.current, .provinceCityAll .provinceAll .list li a.current:visited,
.provinceCityAll .cityAll li a.current, .provinceCityAll .cityAll li a.current:visited,
.provinceCityAll .countyAll li a.current, .provinceCityAll .cityAll li a.current:visited {
    color: #009BD2;
}